body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: Helvetica, sans-serif;
}

body {
  background: linear-gradient(45deg, tomato, purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 30vw;
  margin: auto;
  background: white;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.3);
}

@media (max-width: 900px) {
  main {
    width: 70vw;
  }
}

.calculation_area {
  height: 25px;
  width: 89%;
  margin: 10px auto;
  text-align: right;
  padding: 15px 5px 10px;
}
.calc_row {
  text-align: center;
}
.calc_row button {
  width: 22%;
  height: 30px;
  margin-bottom: 10px;
  background: white;
  border-color: initial;
}

@media (max-width: 900px) {
  .calc_row button {
    width: 48%;
  }
}

.calculation_area,
.calc_row button {
  border: 1px solid tomato;
  border-radius: 5px;
}

.calc_row button.clear {
  width: 93%;
  margin: auto;
}
